<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<nav>
    <a href="/">Home</a>
    |
    <a href="/fluids">All Fluids</a>
    |
    <a href="/fluids/new">Add Fluid</a>
    |
    <a href="/patients/new">Add Patient</a>
</nav>

<% if (typeof title !== "undefined"){ %> 
    <h1><%= title %></h1>
<% } %>