<%- include("../partials/header") %>
<br>
<form action="/patients" method="POST" id="new-patient-form">
    <label>Patient Name:
        <input type="text" name="name">
    </label>
    <label>Age:
        <input type="number" name="age" min="0">
    </label>
    <button type="submit">Add Patient</button>
</form>


<%- include("../partials/footer") %>