<%- include("../partials/header") %>
<br>
<form action="/patients" method="POST" id="new-patient-form">
    <label>Patient Name:
        <input type="text" name="name">
    </label>
    <label>Date of Birth:
        <input type="datetime-local" name="dob" required>
    </label>
    <button type="submit">Add Patient</button>
</form>


<%- include("../partials/footer") %>