
<h2>List of Replacement Fluids</h2>


<h2>Fluids List</h2>
<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Potassium</th>
      <th>Phos</th>
    </tr>
  </thead>

  <tbody>
    <% allFluids.forEach(f=>{%>
    <tr>
      <td><%= f.brand %></td>
      <td><%= f.potassium %></td>
      <td><%= f.phos %></td>
    </tr>
    <%})%>
    
  </tbody>

</table>